body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid red;
    width: 97%;
    


}
.inner{
    margin: 15px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;

}
.one{
    width: 60%;
}
.two{
    width: 98%;
}
.three{
    width: 60%;
}
h1{
    color: white;
}