body{
     background-image: url('../media/indexBackground2.jpg');
         background-size: cover;
 background-repeat: no-repeat;
  padding: 0px;
    margin: 0;
    max-width: 100%;
     
    
     
}



nav{
    height: 50px;
    
}

.link:visited{
   color: inherit; 
   
    
  
}

.links-container{
     margin-top: 10px;
    margin-left: 830px;
    
}

.link{
    padding: 5px;
    margin-left: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}



.link:visited{ 
    text-decoration: none;
    color: white; 
    
 }




.img{
    float: left;
}
.img-nav{
    height: 40px;
    width: 60px;
    display: inline-block;
    
}


.footer{
    text-align: center;
    margin-top: 475px;
    font-size: 22px;
    font-weight: bolder;
    color: white;
}






.product{
    height: 450px;
    width: 230px;
    background-color: rgb(255, 255, 255, 0.3);
   
    border: 1px black solid;
    position: fixed;
    border-radius: 5px;
    
}

.ds{
    top: 65px;
    left: 30px;
    
}
.rust{
top: 65px;
left: 500px;
}
.cyber{
top: 65px;
left: 970px;
}

.product-img{
    height: 90px;
    width: 215px;
    border-radius: 10px;
    margin-top: 8px;
    margin-left: 8px;
}

.explanation{
    font-size: 1.04em;
    padding: 10px;
    height: 325px;
    width: 197px;
    background-color: rgb(230, 222, 222);
    margin-left: 6px;
    border-radius: 12px;
    opacity: 0.9;
    

}

.price {
 color: rgb(49,164,140);
 font-weight: bold;
 font-size: 1.4em;
}

 .past-price{
     font-weight: bold;
     font-size: 1.1em;
     color: red;
 }