body{
     background-image: url('../media/indexBackground6.jpg');
         background-size: cover;
 background-repeat: no-repeat;
  padding: 0px;
    margin: 0;
    max-width: 100%;
     
    
     
}



nav{
    height: 50px;
    
}

.link:visited{
   color: inherit; 
   
    
  
}

.links-container{
     margin-top: 10px;
    margin-left: 830px;
    
}

.link{
    padding: 5px;
    margin-left: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}



.link:visited{ 
    text-decoration: none;
    color: white; 
    
 }




.img{
    float: left;
}
.img-nav{
    height: 40px;
    width: 60px;
    display: inline-block;
    
}


.footer{
    text-align: center;
    margin-top: 35px;
    font-size: 22px;
    font-weight: bolder;
    color: white;
}




.section2{
    margin-top: 630px;
    padding: 45px;
}





.inner-section2{
    margin-left: 55px;
    border: 3px;
     padding: 60px 80px ;
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
}

.input-section2{
    height: 30px;
    width: 190px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
    margin-top: 10px;

}

.submit{
    width: 90px;
    height: 50px;
    border-radius: 3px;

}
h1{
    margin-left: 40px;
    color: white;
}
main{
    margin-left: 42%;
}