body{
    background-image: url("https://wallpapermemory.com/uploads/669/u2-background-full-hd-1080p-322134.jpg");

    background-size: cover;
}
span{
    margin-top: 35vh;
    display: flex;
    flex-wrap: wrap;         
    justify-content: center;
    align-items: center;
    
}
div{
    
    height: 100px;
    width: 100px;
    margin: 10px;
    border: 3px solid rgb(255, 251, 0);
    text-align: center;
    background: rgba(0,0,0,0.5);
    transition: transform .2s;
}
div:hover{          
    transform: scale(1.2);
}
p{
    color: yellow;
}
h1{
    color: white;
}