.red{
    border: 1px solid red;
    color: red;
    text-align: center;
}

.lion{
    
    width: 950px;
    height: 400px;
    display: block;
    margin: auto;
    margin-top: 50px;


}

table, th, td {
  border: 1px solid;
}